<section class="about-kitchen">
  <div class="container about-kitchen__container">
    <h2 class="visually-hidden">Про нашу кухню</h2>

    <p class="about-kitchen__title">Amet minim mollit non</p>
    <h3 class="about-kitchen__logo">Mimiho</h3>
    <p class="about-kitchen__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>

    <picture class="about-kitchen__img">
      <source
        srcset="
          ./images/about-kitchen/mobile/kitchen-244.jpg 1x,
          ./images/about-kitchen/mobile/kitchen-488.jpg 2x,
          ./images/about-kitchen/mobile/kitchen-732.jpg 3x
        "
        media="(max-width: 1023px)"
      />
      <source
        srcset="
          ./images/about-kitchen/tablet/kitchen-400.jpg  1x,
          ./images/about-kitchen/tablet/kitchen-800.jpg  2x,
          ./images/about-kitchen/tablet/kitchen-1200.jpg 3x
        "
        media="(max-width: 1279px)"
      />
      <source
        srcset="
          ./images/about-kitchen/desktop/kitchen-460.jpg  1x,
          ./images/about-kitchen/desktop/kitchen-920.jpg  2x,
          ./images/about-kitchen/desktop/kitchen-1380.jpg 3x
        "
        media="(min-width: 1280px)"
      />
      <img
        class="about-kitchen__img-right"
        src="./images/about-kitchen/mobile/kitchen-244.jpg"
        alt="Фото кухаря, що готує страву на сковороді"
      />
    </picture>
    <div class="about-kitchen__holder">
      <picture>
        <source
          srcset="
            ./images/about-kitchen/mobile/meat-200.jpg 1x,
            ./images/about-kitchen/mobile/meat-400.jpg 2x,
            ./images/about-kitchen/mobile/meat-600.jpg 3x
          "
          media="(max-width: 1023px)"
        />
        <source
          srcset="
            ./images/about-kitchen/tablet/meat-350.jpg  1x,
            ./images/about-kitchen/tablet/meat-700.jpg  2x,
            ./images/about-kitchen/tablet/meat-1050.jpg 3x
          "
          media="(max-width: 1279px)"
        />
        <source
          srcset="
            ./images/about-kitchen/desktop/meat-460.jpg  1x,
            ./images/about-kitchen/desktop/meat-920.jpg  2x,
            ./images/about-kitchen/desktop/meat-1380.jpg 3x
          "
          media="(min-width: 1280px)"
        />
        <img
          class="about-kitchen__img-left"
          src="./images/about-kitchen/mobile/meat-200.jpg"
          alt="Фото сирого м'яса на обробній дошці"
        />
      </picture>

      <p class="about-kitchen__description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <div class="about-kitchen-swiper">
      <div class="about-kitchen-swiper__container">
        <div class="about-kitchen-swiper__wrapper">
          <picture>
            <source
              srcset="
                ./images/about-kitchen/mobile/flour-245.jpg 1x,
                ./images/about-kitchen/mobile/flour-490.jpg 2x,
                ./images/about-kitchen/mobile/flour-735.jpg 3x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="
                ./images/about-kitchen/tablet/flour-194.jpg 1x,
                ./images/about-kitchen/tablet/flour-388.jpg 2x,
                ./images/about-kitchen/tablet/flour-582.jpg 3x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/about-kitchen/desktop/flour-245.jpg 1x,
                ./images/about-kitchen/desktop/flour-490.jpg 2x,
                ./images/about-kitchen/desktop/flour-735.jpg 3x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="./images/about-kitchen/mobile/flour-245.jpg"
              alt="Фото кухаря працюючого з тістом"
              class="about-kitchen-swiper__slide"
            />
          </picture>

          <picture>
            <source
              srcset="
                ./images/about-kitchen/mobile/khinkali-245.jpg 1x,
                ./images/about-kitchen/mobile/khinkali-490.jpg 2x,
                ./images/about-kitchen/mobile/khinkali-735.jpg 3x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="
                ./images/about-kitchen/tablet/khinkali-194.jpg 1x,
                ./images/about-kitchen/tablet/khinkali-388.jpg 2x,
                ./images/about-kitchen/tablet/khinkali-582.jpg 3x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/about-kitchen/desktop/khinkali-245.jpg 1x,
                ./images/about-kitchen/desktop/khinkali-490.jpg 2x,
                ./images/about-kitchen/desktop/khinkali-735.jpg 3x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="./images/about-kitchen/mobile/khinkali-245.jpg"
              alt="Фото готових хінкалі"
              class="about-kitchen-swiper__slide"
            />
          </picture>

          <picture>
            <source
              srcset="
                ./images/about-kitchen/mobile/unsplash_2LzqR50_NTw@1x.jpg 1x,
                ./images/about-kitchen/mobile/unsplash_2LzqR50_NTw@2x.jpg 2x,
                ./images/about-kitchen/mobile/unsplash_2LzqR50_NTw@3x.jpg 3x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="
                ./images/about-kitchen/tablet/unsplash_2LzqR50_NTw@1x.jpg 1x,
                ./images/about-kitchen/tablet/unsplash_2LzqR50_NTw@2x.jpg 2x,
                ./images/about-kitchen/tablet/unsplash_2LzqR50_NTw@3x.jpg 3x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/about-kitchen/desktop/unsplash_2LzqR50_NTw@1x.jpg 1x,
                ./images/about-kitchen/desktop/unsplash_2LzqR50_NTw@2x.jpg 2x,
                ./images/about-kitchen/desktop/unsplash_2LzqR50_NTw@3x.jpg 3x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="./images/about-kitchen/mobile/unsplash_2LzqR50_NTw@1x.jpg"
              alt="Фото сніданку на столі"
              class="about-kitchen-swiper__slide"
            />
          </picture>

          <picture>
            <source
              srcset="
                ./images/about-kitchen/mobile/unsplash_7BbfjQoBfqA@1x.jpg 1x,
                ./images/about-kitchen/mobile/unsplash_7BbfjQoBfqA@2x.jpg 2x,
                ./images/about-kitchen/mobile/unsplash_7BbfjQoBfqA@3x.jpg 3x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="
                ./images/about-kitchen/tablet/unsplash_7BbfjQoBfqA@1x.jpg 1x,
                ./images/about-kitchen/tablet/unsplash_7BbfjQoBfqA@2x.jpg 2x,
                ./images/about-kitchen/tablet/unsplash_7BbfjQoBfqA@3x.jpg 3x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/about-kitchen/desktop/unsplash_7BbfjQoBfqA@1x.jpg 1x,
                ./images/about-kitchen/desktop/unsplash_7BbfjQoBfqA@2x.jpg 2x,
                ./images/about-kitchen/desktop/unsplash_7BbfjQoBfqA@3x.jpg 3x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="./images/about-kitchen/mobile/unsplash_7BbfjQoBfqA@1x.jpg"
              alt="Фото вечері удвох з келихом білого вина та устрицями"
              class="about-kitchen-swiper__slide"
            />
          </picture>

          <picture>
            <source
              srcset="
                ./images/about-kitchen/mobile/unsplash_7kZXH664hdk@1x.jpg 1x,
                ./images/about-kitchen/mobile/unsplash_7kZXH664hdk@2x.jpg 2x,
                ./images/about-kitchen/mobile/unsplash_7kZXH664hdk@3x.jpg 3x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="
                ./images/about-kitchen/tablet/unsplash_7kZXH664hdk@1x.jpg 1x,
                ./images/about-kitchen/tablet/unsplash_7kZXH664hdk@2x.jpg 2x,
                ./images/about-kitchen/tablet/unsplash_7kZXH664hdk@3x.jpg 3x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/about-kitchen/desktop/unsplash_7kZXH664hdk@1x.jpg 1x,
                ./images/about-kitchen/desktop/unsplash_7kZXH664hdk@2x.jpg 2x,
                ./images/about-kitchen/desktop/unsplash_7kZXH664hdk@3x.jpg 3x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="./images/about-kitchen/mobile/unsplash_7kZXH664hdk@1x.jpg"
              alt="Фото заварювання чаю у скляній філіжанці"
              class="about-kitchen-swiper__slide"
            />
          </picture>

          <picture>
            <source
              srcset="
                ./images/about-kitchen/mobile/unsplash_E87UW-n4X1Q@1x.jpg 1x,
                ./images/about-kitchen/mobile/unsplash_E87UW-n4X1Q@2x.jpg 2x,
                ./images/about-kitchen/mobile/unsplash_E87UW-n4X1Q@3x.jpg 3x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="
                ./images/about-kitchen/tablet/unsplash_E87UW-n4X1Q@1x.jpg 1x,
                ./images/about-kitchen/tablet/unsplash_E87UW-n4X1Q@2x.jpg 2x,
                ./images/about-kitchen/tablet/unsplash_E87UW-n4X1Q@3x.jpg 3x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/about-kitchen/desktop/unsplash_E87UW-n4X1Q@1x.jpg 1x,
                ./images/about-kitchen/desktop/unsplash_E87UW-n4X1Q@2x.jpg 2x,
                ./images/about-kitchen/desktop/unsplash_E87UW-n4X1Q@3x.jpg 3x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="./images/about-kitchen/mobile/unsplash_E87UW-n4X1Q@1x.jpg"
              alt="Фото десерту з лохиною"
              class="about-kitchen-swiper__slide"
            />
          </picture>

          <picture>
            <source
              srcset="
                ./images/about-kitchen/mobile/unsplash_g8gOnhMRckw@1x.jpg 1x,
                ./images/about-kitchen/mobile/unsplash_g8gOnhMRckw@2x.jpg 2x,
                ./images/about-kitchen/mobile/unsplash_g8gOnhMRckw@3x.jpg 3x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="
                ./images/about-kitchen/tablet/unsplash_g8gOnhMRckw@1x.jpg 1x,
                ./images/about-kitchen/tablet/unsplash_g8gOnhMRckw@2x.jpg 2x,
                ./images/about-kitchen/tablet/unsplash_g8gOnhMRckw@3x.jpg 3x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/about-kitchen/desktop/unsplash_g8gOnhMRckw@1x.jpg 1x,
                ./images/about-kitchen/desktop/unsplash_g8gOnhMRckw@2x.jpg 2x,
                ./images/about-kitchen/desktop/unsplash_g8gOnhMRckw@3x.jpg 3x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="./images/about-kitchen/mobile/unsplash_g8gOnhMRckw@1x.jpg"
              alt="Фото інтер'єру ресторана"
              class="about-kitchen-swiper__slide"
            />
          </picture>

          <picture>
            <source
              srcset="
                ./images/about-kitchen/mobile/unsplash_lw3Lqe2K7xc@1x.jpg 1x,
                ./images/about-kitchen/mobile/unsplash_lw3Lqe2K7xc@2x.jpg 2x,
                ./images/about-kitchen/mobile/unsplash_lw3Lqe2K7xc@3x.jpg 3x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="
                ./images/about-kitchen/tablet/unsplash_lw3Lqe2K7xc@1x.jpg 1x,
                ./images/about-kitchen/tablet/unsplash_lw3Lqe2K7xc@2x.jpg 2x,
                ./images/about-kitchen/tablet/unsplash_lw3Lqe2K7xc@3x.jpg 3x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/about-kitchen/desktop/unsplash_lw3Lqe2K7xc@1x.jpg 1x,
                ./images/about-kitchen/desktop/unsplash_lw3Lqe2K7xc@2x.jpg 2x,
                ./images/about-kitchen/desktop/unsplash_lw3Lqe2K7xc@3x.jpg 3x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="./images/about-kitchen/mobile/unsplash_lw3Lqe2K7xc@1x.jpg"
              alt="Фото сніданку по-французськи"
              class="about-kitchen-swiper__slide"
            />
          </picture>
        </div>
        <div class="about-kitchen-swiper__buttons">
          <div class="about-kitchen-swiper__button-prev">
            <svg class="about-kitchen-swiper__icon" width="32" height="32">
              <use href="./images/icons.svg#icon-arrow-left"></use>
            </svg>
          </div>
          <div class="about-kitchen-swiper__button-next">
            <svg class="about-kitchen-swiper__icon" width="32" height="32">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
