@import '~node_modules/modern-normalize/modern-normalize.css';
.modal-open {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #5f5f5f;
  background-color: #fffdee;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-regular.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/montserrat-v25-latin_cyrillic-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v25-latin_cyrillic-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-600.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-600.ttf") format("truetype"), url("../fonts/montserrat-v25-latin_cyrillic-600.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v25-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-500.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/montserrat-v25-latin_cyrillic-500.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v25-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-700.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/montserrat-v25-latin_cyrillic-700.svg#Montserrat") format("svg"); /* Legacy iOS */
}
@font-face {
  font-family: "Times New Roman Cyr";
  src: url("../fonts/TimesNRCyrMT.woff2") format("woff2"), url("../fonts/TimesNRCyrMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Times New Roman Cyr";
  src: url("../fonts/TimesNRCyrMT-Bold.woff2") format("woff2"), url("../fonts/TimesNRCyrMT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Film P3";
  src: url("../fonts/FilmP3Bold.eot");
  src: local("Film P3 Bold"), local("FilmP3Bold"), url("../fonts/FilmP3Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FilmP3Bold.woff2") format("woff2"), url("../fonts/FilmP3Bold.woff") format("woff"), url("../fonts/FilmP3Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.container {
  padding: 0 15px;
}
@media screen and (min-width: 414px) {
  .container {
    width: 414px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    padding: 0 47px;
    width: 1024px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding: 0 85px;
    width: 1280px;
  }
}

.container-room {
  padding: 32px 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fffdee;
  position: relative;
  height: 100%;
}
@media (min-width: 1024px) {
  .container-room {
    position: relative;
    padding-left: 47px;
    padding-right: 47px;
  }
}
@media (min-width: 1280px) {
  .container-room {
    position: relative;
    padding-left: 85px;
    padding-right: 85px;
  }
}

.room__service {
  display: flex;
  flex-flow: column;
}
@media screen and (min-width: 1024px) {
  .room__service {
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .room__service {
    flex-flow: row-reverse;
  }
}

.button-room__item {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
}

.button-room__details {
  font-family: "Montserrat";
  padding: 14px 65px 14px 64px;
  background-color: #000000;
  color: #f3c653;
  display: inline-block;
  border-radius: 25px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.button-room__details:hover, .button-room__details:active {
  background-color: #ffffff;
  border: 2px solid #f3c653;
}

.button-room__price {
  background-color: #000000;
  color: #f3c653;
  display: inline-block;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.02em;
  padding: 14px 37px;
}
.button-room__price:hover, .button-room__price:active {
  background-color: #ffffff;
  border: 2px solid #f3c653;
}

.logo__text {
  font-family: "Times New Roman";
  font-size: 20px;
  font-weight: 400;
  color: #b4b4b4;
  line-height: 23px;
  text-align: right;
  margin-bottom: 8px;
}
@media screen and (min-width: 1024px) {
  .logo__text {
    margin-top: 32px;
    margin-bottom: 4px;
  }
}

.logo__title {
  font-family: "Film P3";
  font-size: 40px;
  letter-spacing: 0.03em;
  line-height: 100%;
  text-transform: uppercase;
  text-align: right;
  color: #494848;
  margin-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .logo__title {
    margin-bottom: 62px;
  }
}

.room__title {
  font-family: "Times New Roman";
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-align: right;
  text-transform: uppercase;
  margin-bottom: 12px;
}
@media (min-width: 1024px) {
  .room__title {
    margin-bottom: 16px;
  }
}
.room__title--small {
  text-transform: lowercase;
}

.room__text {
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #5f5f5f;
  text-align: left;
  margin-left: 98px;
  width: 242px;
  height: 76px;
  margin-bottom: 32px;
}
@media (min-width: 1024px) {
  .room__text {
    height: 83px;
    width: 400px;
    margin-bottom: 169px;
  }
}

.hotel__picture {
  border-radius: 2px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 32px;
  max-width: 244px;
  height: auto;
  width: 100%;
  margin-right: auto;
}

.room__service {
  display: flex;
  flex-flow: column;
}

@media screen and (min-width: 1024px) {
  .hotel__picture {
    position: absolute;
    top: -32px;
    left: 112px;
    margin-right: 26px;
  }
}
@media (min-width: 1024px) {
  .button-room__list {
    margin-top: 89px;
  }
}/*# sourceMappingURL=index.css.map */