<section class="hero hero--roompage">
  <div class="container hero__container">
    <h2 class="hero__title">ДВОМІСНИЙ НОМЕР <span class="hero__title--style">люкс</span></h3>
    <p class="hero__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
    mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    <button class="btn hero__btn" type="button" data-modal-price-open="">
        Переглянути ціни
    </button>
  </div>
</section>
