<section class="hero hero--roompage">
  <div class="container hero__container hero__container--roompage">
    <h2 class="hero__title hero__title--roompage">
      ДВОМІСНИЙ НОМЕР <span class="hero__title--style">люкс</span>
    </h2>
    <p class="hero__text hero__text--roompage">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>

    <div class="hero__contact-box">
      <address class="hero__address hero__address--roompage">
        <a
          class="hero__address-map"
          href="https://goo.gl/maps/F3MR8Hv3ctrSivov8"
          target="_blank"
          rel="noopener noreferrer nofollow"
          ><svg class="hero__address-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-location"></use></svg
          >Україна, м. Полтава, <br />
          вул. Маршала Бірюзова, 15</a
        >
      </address>

      <ul class="hero__network--roompage">
        <li class="hero__network-item">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="hero__network-link"
          >
            <svg width="24" height="24">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="hero__network-item">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="hero__network-link"
          >
            <svg width="24" height="24">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="hero__network-item">
          <a
            href="https://web.telegram.org/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="hero__network-link"
          >
            <svg width="24" height="24">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <button
      class="btn hero__btn hero__btn--room"
      type="button"
      data-modal-price-open
    >
      Переглянути ціни
    </button>
  </div>
</section>
