<div class="backdrop" data-modal-room>
  <div class="modal">
    <button class="modal__close-button" data-modal-room-close>
      <svg width="18" height="18">
        <use
          class="modal__icon"
          href="./images/icons.svg#icon-close-modal"
        ></use>
      </svg>
    </button>
    <h2 class="modal__title">Забронювати номер</h2>
    <form>
      <div class="modal__box">
        <div class="modal__field">
          <input
            type="text"
            name="client-name"
            id="client-name"
            pattern="[A-Za-zА-Яа-яЁёІіЇїЄє]{2,}"
            placeholder="Ваше ім’я"
            required
            title="Вкажіть ваше ім'я за допомогою літер"
            class="modal__input"
          />
          <label class="modal__label" for="client-name">
            На кого забронювати номер?</label
          >
        </div>
        <div class="modal__field">
          <input
            type="tel"
            name="phone-input"
            id="phone-input"
            required
            placeholder="+38 (___) ___-__-__"
            title="Номер телефону має містити 10 цифр"
            pattern="(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){12}(\s*)?"
            class="modal__input"
          />
          <label class="modal__label" for="phone-input"> Номер телефону</label>
        </div>
        <div class="modal__field"></div>
        <div class="modal__field">
          <div class="custom-select-wrapper">
            <select
              class="custom-select"
              id="room"
              name="room-category"
              placeholder="Двомісний люкс"
            >
              <option value="Двомісний люкс">Двомісний люкс</option>
              <option value="Трьохмісний номер">Трьохмісний номер</option>
              <option value="Двомісний номер">Двомісний номер</option>
            </select>
          </div>
          <label class="modal__label" for="room"> Категорія номеру </label>
        </div>
        <div class="modal__field">
          <div class="modal__datepickerwrapper">
            <span class="modal__datepickerbox">
              <input
                type="text"
                id="datepicker"
                placeholder="Сьогодні"
                required
                class="modal__input"
                autocomplete="off"
              />
            </span>
          </div>
          <label
            class="modal__label modal__label--biggerfont"
            for="choose-date"
          >
            Дата заїзду
          </label>
        </div>
        <div class="modal__field">
          <div class="modal__datepickerwrapper">
            <span class="modal__datepickerbox">
              <input
                type="text"
                id="datepickersecond"
                placeholder="Сьогодні"
                required
                class="modal__input"
                autocomplete="off"
              />
            </span>
          </div>
          <label
            class="modal__label modal__label--bigmargin modal__label--biggerfont"
            for="choose-date"
          >
            Дата виїзду
          </label>
        </div>
      </div>
      <button class="modal__button" type="submit" data-modal-room-close>
        Оформити бронювання
      </button>
    </form>
  </div>
</div>
