<div class="backdrop is-hidden" data-modal-price>
  <div class="modal">
    <button class="modal__close-button" data-modal-price-close>
      <svg width="18" height="18">
        <use
          class="modal__icon"
          href="./images/icons.svg#icon-close-modal"
        ></use>
      </svg>
    </button>
    <h2 class="modal__title">Ціни на номер</h2>
    <h3 class="modal__subtitle">Двомісний люкс</h3>
    <h4 class="modal__heading">Категорія номеру</h4>
    <form>
      <div class="modal__box">
        <div class="modal__field">
          <div class="custom-select-wrapper">
            <select
              class="custom-select"
              id="number-clients"
              name="number-clients"
              placeholder="1"
            >
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
            </select>
          </div>
          <label
            class="modal__label modal__label--biggerfont"
            for="number-clients"
          >
            Кількість ночей
          </label>
        </div>
        <div class="modal__field">
          <input
            class="modal__input"
            type="number"
            name="total-price"
            id="total-price"
            placeholder="1000"
            readonly
            value="()"
          />
          <label
            class="modal__label modal__label--bigmargin modal__label--biggerfont"
            for="total-price"
          >
            грн
          </label>
        </div>
      </div>
      <button class="modal__button" type="submit" data-modal-price-close>
        Оформити бронювання
      </button>
    </form>
  </div>
</div>
