<section class="hero">
  <div class="container">
    <h1 class="hero__title">MIMIHO</h1>
    <h3 class="hero__subtitle">Ресторанно-готельний комплекс</h3>
    <address class="address">
      <a
        class="address__map"
        href="https://goo.gl/maps/F3MR8Hv3ctrSivov8"
        target="_blank"
        rel="noopener noreferrer nofollow"
        ><svg class="auth-nav__icon" width="16" height="16">
          <use href="./images/icons.svg#icon-location"></use></svg
        >Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
      >      
    </address>
    <button class="btn hero__btn" type="button" book-table-modal-window-open>
      Забронювати номер
    </button>
    <button class="btn hero__btn" type="button" book-room-modal-window-open>
      Переглянути ціни
    </button>
  </div>
</section>
