<section class="room">
  <div class="container">
    <div class="title-blok">
      <p class="title-blok_text">Amet minim mollit non</p>
      <h3 class="title-blok_title">MIMIHO</h3>
    </div>
    <div class="room_name">
      <h2 class="room_title">Двомісний номер<span>люкс</span></h2>
      <p class="room_text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <div>
      <!-- slider -->
      <ul class="room-buttons">
        <li><a class="room-buttons_link" href="#">Детальніше</a></li>
        <li><a class="room-buttons_link" href="#">Переглянути ціни</a></li>
      </ul>
    </div>

    <picture class="hotel_picture">
      <!--Mobile-->
      <source
        srcset="
          /src/images/hotel_images/studio_apartment_mob@1x.jpg 1x,
          /src/images/hotel_images/studio_apartment_mob@2x.jpg 2x
        "
        media="(min-width:414px)"
      />

      <source
        srcset="
          /src/images/hotel_images/studio_apartment_mob@1x_result.webp 1x,
          /src/images/hotel_images/studio_apartment_mob@2x_result.webp 2x
        "
        media="(min-width:414px)"
      />

      <!-- Tablet -->
      <source
        srcset="
          /src/images/hotel_images/studio_apartment_tab@1x.jpg 1x,
          /src/images/hotel_images/studio_apartment_tab@2x.jpg 2x
        "
        media="(min-width:414px)"
      />

      <source
        srcset="
          /src/images/hotel_images/studio_apartment_tab@1x_result.webp 1x,
          /src/images/hotel_images/studio_apartment_tab@2x_result.webp 2x
        "
        media="(min-width:414px)"
      />

      <!-- Desktop -->
      <source
        srcset="
          /src/images/hotel_images/studio_apartment_desk@1x.jpg 1x,
          /src/images/hotel_images/studio_apartment_desk@2x.jpg 2x
        "
        media="(min-width:414px)"
      />

      <source
        srcset="
          /src/images/hotel_images/studio_apartment_desk@1x_result.webp 1x,
          /src/images/hotel_images/studio_apartment_desk@2x_result.webp 2x
        "
        media="(min-width:414px)"
      />
    </picture>
  </div>
</section>
