<section class="room">
  <div class="container luxe_container">
    <div class="label-blok">
      <p class="label-blok_text">Amet minim mollit non</p>
      <h3 class="label-blok_title">Mimiho</h3>
    </div>
    <div class="room__name">
      <h2 class="room_title-luxe">
        Двомісний номер <span class="room_title-luxe--small">люкс</span>
      </h2>
      <p class="room_text--luxe">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <picture class="hotel_picture--luxe">
      <!--Mobile-->
      <source
        srcset="
          /src/images/hotel_images/studio_apartment_mob@1x.jpg 1x,
          /src/images/hotel_images/studio_apartment_mob@2x.jpg 2x
        "
        media="(min-width:414px)"
      />

      <source
        srcset="
          /src/images/hotel_images/studio_apartment_mob@1x_result.webp 1x,
          /src/images/hotel_images/studio_apartment_mob@2x_result.webp 2x
        "
        media="(min-width:414px)"
      />

      <!-- Tablet -->
      <source
        srcset="
          /src/images/hotel_images/studio_apartment_tab@1x.jpg 1x,
          /src/images/hotel_images/studio_apartment_tab@2x.jpg 2x
        "
        media="(min-width:414px)"
      />

      <source
        srcset="
          /src/images/hotel_images/studio_apartment_tab@1x_result.webp 1x,
          /src/images/hotel_images/studio_apartment_tab@2x_result.webp 2x
        "
        media="(min-width:414px)"
      />

      <!-- Desktop -->
      <source
        srcset="
          /src/images/hotel_images/studio_apartment_desk@1x.jpg 1x,
          /src/images/hotel_images/studio_apartment_desk@2x.jpg 2x
        "
        media="(min-width:414px)"
      />

      <source
        srcset="
          /src/images/hotel_images/studio_apartment_desk@1x_result.webp 1x,
          /src/images/hotel_images/studio_apartment_desk@2x_result.webp 2x
        "
        media="(min-width:414px)"
      />

      <img
        src="/src/images/hotel_images/studio_apartment_desk@1x.jpg"
        alt="Готельний номер"
      />
    </picture>

    <div>
      <!-- slider -->
      <ul class="luxe-buttons">
        <li class="luxe-buttons_item">
          <a class="luxe-buttons_link" href="#">Детальніше</a>
        </li>
        <li class="luxe-buttons_item">
          <a class="luxe-buttons_link" href="#">Переглянути ціни</a>
        </li>
      </ul>
    </div>
  </div>
</section>
