.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 12px;
  @include for-size(tablet) {
    padding-top: 24px;
    padding-bottom: 30px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @include for-size(desktop) {
    }
  }

  &__logo {
    font-family: $fontFamilyLogo;
    @include font(
      $weight: 700,
      $size: 36px,
      $line-height: 1.08,
      $letter-spacing: 0.03em
    );
    color: $colorWhite;
    @include for-size(desktop) {
      margin-right: 96px;
    }
  }

  &__navigation-list {
    display: flex;
    gap: 20px;
    @include for-size(tablet) {
      gap: 72px;
    }
  }

  &__navigation-item {
    display: flex;
    align-items: center;
    gap: 6px;
    @include for-size(tablet) {
      gap: 32px;
    }
  }

  &__navigation-link {
    color: $colorAccentYellow;
    @include font(
      $weight: 500,
      $size: 16px,
      $line-height: 1.25,
      $letter-spacing: 0.02em);
    @include for-size(tablet) {
      @include font(
        $weight: 500,
        $size: 20px,
        $line-height: 1.2,
        $letter-spacing: 0.02em
      );
    }
  }

  &__phone-box {
    @include for-size(tablet) {
      display: flex;
      gap: 16px;
      border: 1px solid $colorBorderAdress;
      border-radius: 2px;
      padding: 8px;
    }
  }

  &__phone-link {
    display: flex;
    align-items: center;
  }

  &__phone-icon {
    fill: $colorAccentYellow;
    @include for-size(tablet) {
      margin-right: 8px;
    }
  }

  &__phone-text {
    @include for-size(mobile-only) {
      display: none;
    }
    color: $colorWhite;
    @include font(
      $weight: 400,
      $size: 14px,
      $line-height: 1.22,
      $letter-spacing: 0.02em
    );
  }

  &__network {
    display: none;
    @include for-size(desktop) {
      margin-left: auto;
      display: flex;
      gap: 20px;
    }
  }

  &__network-icon {
    @include for-size(desktop) {
      fill: $colorBorderAdress;
    }
  }
}