.menu-container {
  @include for-size(tablet) {
    display: flex;
    justify-content: space-between;
  }
}
.menu-container__col-1,
.menu-container__col-2 {
  @include for-size(tablet) {
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% - 106px) / 2);
    gap: 20px;
  }
}
.dishes {
  width: 100%;
  text-align: left;
  margin-bottom: 16px;
  @include for-size(tablet) {
    margin-bottom: 0;
  }
}

.dishes-drinks {
  margin-bottom: 32px;
  @include for-size(tablet) {
    margin-bottom: 0;
  }
}

.dishes__category {
  font-family: $fontFamilyTNRoman;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: $colorBlack;
  text-align: left;
  margin-bottom: 16px;
  @include for-size(tablet) {
    margin-bottom: 20px;
  }
}

.dishes__caption {
  width: 225px;
  font-family: $fontFamilyMain;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: $colorBlack;
  padding-bottom: 4px;
  @include for-size(tablet) {
    width: 221px;
  }
}

.dishes__ingredients {
  font-family: $fontFamilyMain;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: $colorBlack;
  padding-bottom: 8px;
}

.dishes__portion {
  font-family: $fontFamilyMain;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: $colorBlack;
  padding: 4px 0 4px 32px;
  @include for-size(tablet) {
    padding: 4px 0 4px 40px;
  }
  .dishes-drinks & {
    padding: 4px 0 4px 20px;
  }
}

.dishes__price {
  font-family: $fontFamilyMain;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: $colorBlack;
  text-align: right;
  padding: 4px 0 4px 7px;
  .dishes-drinks & {
    padding: 4px 0;
  }
}

.book-table {
  display: block;
  cursor: pointer;
  font-family: $fontFamilyMain;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: $colorAccentYellow;
  background-color: $colorBlack;
  border: 2px solid $colorBackgroundSecondary;
  border-radius: $borderRadiusPrimary;
  padding: 15px 24px;
  transition: background-color $baseTransition;
  margin: 0 auto;

  @include for-size(tablet) {
    margin: 0 0 0 auto;
  }
}

.book-table:hover,
.book-table:focus {
  background-color: $colorWhite;
  border: 2px solid $colorAccentYellow;
  border-radius: $borderRadiusPrimary;
}
