.amenities{
    padding: 32px 0px;
}


.amenities__list{

    
}

.amenities__item:not(:last-child){
    margin-bottom: 32px;
}

.amenities__title{
    margin-bottom: 16px;
    font-family: $fontFamilyTNRoman;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.156;

    color: $colorBlack;
}

.amenities__subtitle{
    margin-bottom: 16px;

    font-family: $fontFamilyTNRoman;

    font-size: 24px;
    line-height: 1.167;

    color: $colorBlack;
}

.amenities__description{
    font-family: $fontFamilyMain;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    
    color:$colorTextGray;
}

.amenities__button{
    font-family: $fontFamilyMain;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    color: $colorWhite;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:active {
            color: $colorBlack;
            background-color: $colorAccentYellow;

        }
}

.amenities__link{
    display: block;
    text-decoration: none;

    font-family: $fontFamilyMain;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    color: $colorAccentBrown;
    fill: $colorAccentBrown;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:active{
        color: $colorAccentYellow;
        fill: $colorAccentYellow;
    }

}
