<section class="about-hotel">
  <div class="container">
    <h2 class="about-hotel__title">MIMIHO</h2>
    <ul class="about-hotel1">
      <div class="about-hotel1__box">
        <p class="about-hotel1__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <li class="about-hotel__item">
          <picture class="about-hotel1__picture">
            <source
              media="(min-width: 1280px)"
              srcset="
                /src/images/hotel_images/hotel-desktop-1@3x.jpg 3x,
                /src/images/hotel_images/hotel-desktop-1@3x.jpg 2x,
                /src/images/hotel_images/hotel-desktop-1.jpg    1x
              "
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                /src/images/hotel_images/hotel-tablet-1@3x.jpg 3x,
                /src/images/hotel_images/hotel-tablet-1@2x.jpg 2x,
                /src/images/hotel_images/hotel-tablet-1.jpg    1x
              "
            />
            <source
              media="(max-width: 414px)"
              srcset="
                /src/images/hotel_images/hotel-mobile-1@3x.jpg 3x,
                /src/images/hotel_images/hotel-mobile-1@2x.jpg 2x,
                /src/images/hotel_images/hotel-mobile-1.jpg    1x
              "
            />
            <img
              src="/src/images/hotel_images/hotel-desktop-1@2x.jpg"
              alt="Двохмісний номер"
            />
          </picture>
        </li>
      </div>
      <div class="about-hotel2__box">
        <p class="about-hotel2__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <li class="about-hotel__item">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /src/images/hotel_images/hotel-desktop-2@3x.jpg 3x,
                /src/images/hotel_images/hotel-desktop-2@2x.jpg 2x,
                /src/images/hotel_images/hotel-desktop-2.jpg    1x
              "
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                /src/images/hotel_images/hotel-tablet-2@3x.jpg 3x,
                /src/images/hotel_images/hotel-tablet-2@2x.jpg 2x,
                /src/images/hotel_images/hotel-tablet-2.jpg    1x
              "
            />
            <source
              media="(max-width: 414px)"
              srcset="
                /src/images/hotel_images/hotel-mobile-2@3x.jpg 3x,
                /src/images/hotel_images/hotel-mobile-2@2x.jpg 2x,
                /src/images/hotel_images/hotel-mobile-2.jpg    1x
              "
            />
            <img
              src="/src/images/hotel_images/hotel-desktop-2@2x.jpg"
              alt="Хол з каміном"
            />
          </picture>
        </li>
      </div>
    </ul>
  </div>
</section>
