<section class="about-hotel">
  <span class="decor"></span>
  <div class="container about-hotel__container">
    <h2 class="visually-hidden">About our hotel</h2>

    <span class="about-hotel__title">Amet minim mollit non</span>

    <h3 class="about-hotel__logo">Mimiho</h3>

        <p class="about-hotel__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>

          <picture class="about-hotel__picture">
            <source
            srcset="/src/images/hotel_images/hotel-desktop-1.jpg 1x, /src/images/hotel_images/hotel-desktop-1@2x.jpg 2x"
            media="(min-width: 1280px)"
            />
            <source
            srcset="/src/images/hotel_images/hotel-tablet-1.jpg 1x, /src/images/hotel_images/hotel-tablet-1@2x.jpg 2x"
            media="(min-width: 1024px)"
            />
            <source
              srcset=" /src/images/hotel_images/hotel-mobile-1.jpg 1x, /src/images/hotel_images/hotel-mobile-1@2x.jpg 2x"
              media="(min-width: 414px)"
            />
            <img
              class="hotel__img-left"
              src="/src/images/hotel_images/hotel-mobile-1.jpg "
              alt="Двохмісний номер"
            />
          </picture>

      <figure class="hotel__restaurant-post">
        <picture>
          <source
            srcset="/src/images/hotel_images/hotel-desktop-2.jpg 1x /src/images/hotel_images/hotel-desktop-2@2x.jpg 2x"
            media="(min-width: 414px)"
          />

          <source
            srcset="/src/images/hotel_images/hotel-tablet-2.jpg 1x /src/images/hotel_images/hotel-tablet-2@2x.jpg 2x"
            media="(min-width: 414px)"
          />

          <source
            srcset="/src/images/hotel_images/hotel-mobile-2.jpg 1x /src/images/hotel_images/hotel-mobile-2@2x.jpg 2x"
            media="(min-width: 414px)"
          />
          <img
            class="hotel__img-right"
            src="/src/images/hotel_images/hotel-mobile-2.jpg "
            alt="Двомісний номер"
          />
        </picture>

        <figcaption class="hotel__post-text hotel__post-color">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </figcaption>
      </figure>
    </ul>
  </div>
</section>
