<section class="about-hotel">
  <div class="container about-hotel__container">
    <h2 class="about-hotel__title">Mimiho</h2>
    <ul class="about-hotel1">
      <div class="about-hotel__box1">
        <p class="about-hotel__text1">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <li class="about-hotel__item">
          <picture class="about-hotel__picture">
            <source
              media="(min-width: 1280px)"
              srcset="
                /src/images/hotel_images/hotel-desktop-1@3x.jpg 3x,
                /src/images/hotel_images/hotel-desktop-1@3x.jpg 2x,
                /src/images/hotel_images/hotel-desktop-1.jpg    1x
              "
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                /src/images/hotel_images/hotel-tablet-1@3x.jpg 3x,
                /src/images/hotel_images/hotel-tablet-1@2x.jpg 2x,
                /src/images/hotel_images/hotel-tablet-1.jpg    1x
              "
            />
            <source
              media="(max-width: 414px)"
              srcset="
                /src/images/hotel_images/hotel-mobile-1@3x.jpg 3x,
                /src/images/hotel_images/hotel-mobile-1@2x.jpg 2x,
                /src/images/hotel_images/hotel-mobile-1.jpg    1x
              "
            />
            <img
              src="/src/images/hotel_images/hotel-desktop-1@2x.jpg"
              alt="Двохмісний номер"
            />
          </picture>
        </li>
      </div>
      <div class="about-hotel__box1">
        <p class="about-hotel__text1">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <li class="about-hotel__item">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /src/images/hotel_images/hotel-desktop-2@3x.jpg 3x,
                /src/images/hotel_images/hotel-desktop-2@2x.jpg 2x,
                /src/images/hotel_images/hotel-desktop-2.jpg    1x
              "
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                /src/images/hotel_images/hotel-tablet-2@3x.jpg 3x,
                /src/images/hotel_images/hotel-tablet-2@2x.jpg 2x,
                /src/images/hotel_images/hotel-tablet-2.jpg    1x
              "
            />
            <source
              media="(max-width: 414px)"
              srcset="
                /src/images/hotel_images/hotel-mobile-2@3x.jpg 3x,
                /src/images/hotel_images/hotel-mobile-2@2x.jpg 2x,
                /src/images/hotel_images/hotel-mobile-2.jpg    1x
              "
            />
            <img
              src="/src/images/hotel_images/hotel-desktop-2@2x.jpg"
              alt="Хол з каміном"
            />
          </picture>
        </li>
      </div>
    </ul>
  </div>
  <!-- Разметка слайдера (html код) -->
<div class="itcss">
  <div class="itcss__wrapper">
    <div class="itcss__items">
      <div class="itcss__item">
        <!-- Контент 1 слайда -->
      </div>
      <div class="itcss__item">
        <!-- Контент 2 слайда -->
      </div>
      <div class="itcss__item">
        <!-- Контент 3 слайда -->
      </div>
      <div class="itcss__item">
        <!-- Контент 4 слайда -->
      </div>
    </div>
  </div>
  <!-- Стрелки для перехода к предыдущему и следующему слайду -->
  <a class="itcss__control itcss__control_prev" href="#" role="button" data-slide="prev"></a>
  <a class="itcss__control itcss__control_next" href="#" role="button" data-slide="next"></a>
</div>
</section>
