<section class="contacts-section">
  <div class="container">
    <div class="contacts-section__holder">
      <div>
        <p class="contacts-section__logo">Mimiho</p>
        <h3 class="visually-hidden">Наші контакти</h3>
        <p class="contacts-section__subtitle">Ресторанно-готельний комплекс</p>
        <address>
          <ul class="contacts">
            <li class="contacts__item">
              <div class="contacts__item-box">
                <p class="contacts__title">Ресторан</p>
                <p class="contacts__text">
                  <svg class="contacts__icon" width="12" height="20">
                    <use href="./images/icons.svg#icon-phone"></use>
                  </svg>
                  <span>095 555 95 33</span>
                </p>
              </div>
            </li>
            <li class="contacts__item">
              <div class="contacts__item-box">
                <p class="contacts__title">Готель</p>
                <p class="contacts__text contacts__hotel">
                  <svg class="contacts__icon" width="12" height="20">
                    <use href="./images/icons.svg#icon-phone"></use>
                  </svg>
                  <span class="contacts__phone">066 849 10 89</span>
                  <span>067 275 85 40</span>
                </p>
              </div>
            </li>
            <li class="contacts__item">
              <div class="contacts__item-box contacts__item-box--high">
                <p class="contacts__title contacts__title--hidden">Адреса</p>
                <p class="contacts__text contacts__address">
                  <svg
                    class="contacts__icon contacts__icon--less"
                    width="24"
                    height="24"
                  >
                    <use href="./images/icons.svg#icon-location"></use>
                  </svg>
                  Україна, м. Полтава, <br />вул. Маршала Бірюзова, 15
                </p>
              </div>
            </li>
          </ul>
        </address>
      </div>
      <div class="contacts__map-container">
        <iframe
          class="contacts__map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.923398119502!2d34.5243576157008!3d49.599193979366994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0LLRg9C70LjRhtGPINCc0LDRgNGI0LDQu9CwINCR0ZbRgNGO0LfQvtCy0LAsIDE1LCDQn9C-0LvRgtCw0LLQsCwg0J_QvtC70YLQsNCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDM2MDAw!5e0!3m2!1suk!2sua!4v1669884598414!5m2!1suk!2sua"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</section>
