.decor {
  padding-top: 50px;
  height: 600px;
  background: repeating-linear-gradient(
    90deg,
    transparent 0 calc((100% - 3 * 1px) / 4),
    $colorVerticalLine 0 calc((100% - 3 * 1px) / 4 + 1px)
  );
  filter: blur(0.5px);
}
