.hero {
  background-color: $colorBackgroundDark;
  margin: 0 auto;
  max-width: 100%;
  padding-top: 181px;
  padding-bottom: 6px;
  @media screen and (min-width: 1024px) {
    padding-top: 188px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding-top: 164px;
  }
}

.hero--homepage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: $LinearGradientHeader,
    url('../images/hero_images/homepage-iphone@1x.jpg');
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: $LinearGradientHeader,
      url('../images/hero_images/homepage-iphone@2x.jpg');
  }
  @media screen and (min-width: 1024px) {
    background-image: $LinearGradientHeader,
      url('../images/hero_images/homepage-ipad@1x.jpg');
  }
  @media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2),
    (min-width: 1024px) and (min-resolution: 192dpi),
    (min-width: 1024px) and (min-resolution: 2dppx) {
    background-image: $LinearGradientHeader,
      url('../images/hero_images/homepage-ipad@2x.jpg');
  }
  @media screen and (min-width: 1280px) {
    background-image: $LinearGradientHeader,
      url('../images/hero_images/homepage@1x.jpg');
  }
  @media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
    (min-width: 1280px) and (min-resolution: 192dpi),
    (min-width: 1280px) and (min-resolution: 2dppx) {
    background-image: $LinearGradientHeader,
      url('../images/hero_images/homepage@2x.jpg');
  }
}
.hero--restaurant {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: $LinearGradientHeader,
    url('../images/hero_images/kitchen-iphone@1x.jpg');
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: $LinearGradientHeader,
      url('../images/hero_images/kitchen-iphone@2x.jpg');
  }
  @media screen and (min-width: 1024px) {
    background-image: $LinearGradientHeader,
      url('../images/hero_images/kitchen-ipad@1x.jpg');
  }
  @media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2),
    (min-width: 1024px) and (min-resolution: 192dpi),
    (min-width: 1024px) and (min-resolution: 2dppx) {
    background-image: $LinearGradientHeader,
      url('../images/hero_images/kitchen-ipad@2x.jpg');
  }
  @media screen and (min-width: 1280px) {
    background-image: $LinearGradientHeader,
      url('../images/hero_images/kitchen@1x.jpg');
  }
  @media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
    (min-width: 1280px) and (min-resolution: 192dpi),
    (min-width: 1280px) and (min-resolution: 2dppx) {
    background-image: $LinearGradientHeader,
      url('../images/hero_images/kitchen@2x.jpg');
  }
}
.hero--hotel {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: $LinearGradientHeader,
    url('../images/hero_images/hotel-iphone@1x.jpg');
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: $LinearGradientHeader,
      url('../images/hero_images/hotel-iphone@2x.jpg');
  }
  @media screen and (min-width: 1024px) {
    background-image: $LinearGradientHeader,
      url('../images/hero_images/hotel-ipad@1x.jpg');
  }
  @media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2),
    (min-width: 1024px) and (min-resolution: 192dpi),
    (min-width: 1024px) and (min-resolution: 2dppx) {
    background-image: $LinearGradientHeader,
      url('../images/hero_images/hotel-ipad@2x.jpg');
  }
  @media screen and (min-width: 1280px) {
    background-image: $LinearGradientHeader,
      url('../images/hero_images/hotel@1x.jpg');
  }
  @media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
    (min-width: 1280px) and (min-resolution: 192dpi),
    (min-width: 1280px) and (min-resolution: 2dppx) {
    background-image: $LinearGradientHeader,
      url('../images/hero_images/hotel@2x.jpg');
  }
}

.hero__title {
  color: $colorWhite;
  text-align: center;
  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 103px;
  letter-spacing: 0.3em;
  max-width: 303px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;

  @media screen and (max-width: 360px) {
    font-size: 88px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 128px;
    line-height: 1.08;
    max-width: 404px;
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 32px;
  }
}
.hero__title--hotel {
  margin-bottom: 32px;
}
.hero__subtitle {
  color: $colorWhite;
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
  @media screen and (min-width: 1024px) {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 56px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 64px;
  }
}
.hero__subtitle--hotel {
  margin-bottom: 178px;
  @media screen and (min-width: 1024px) {
    margin-bottom: 218px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 242px;
  }
}
.hero__text {
  color: $colorWhite;
  text-align: center;
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 113px;
  @media screen and (min-width: 1024px) {
    font-size: 36px;
    line-height: 1.14;
    margin-bottom: 137px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 137px;
  }
}
.hero__control-box {
  display: flex;
  justify-content: center;
  margin-bottom: 58px;
  @media screen and (min-width: 1024px) {
    justify-content: space-between;
    margin-bottom: 25px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 58px;
  }
}
.hero__container {
  position: relative;
}
.hero__address {
  @media screen and (max-width: 1023px) {
    position: absolute;
    top: -117px;
    right: 15px;
  }
  display: inline-block;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
  max-width: 285px;
  padding: 8px 8px 8px 10px;
}
.hero__address-map {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: $colorAddressMap;
  @media screen and (min-width: 1024px) {
    font-size: 16px;
    line-height: 1.25;
  }
}
.hero__address-icon {
  fill: $colorAccentYellow;
}
.hero__btn-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @media screen and (min-width: 1024px) {
    flex-direction: row;
    gap: 40px;
  }
  @media screen and (min-width: 1280px) {
    gap: 60px;
  }
}
// .hero__btn {
//   color: $colorAccentYellow;
//   background: $colorBackgroundButton;
//   border: 2px solid $colorWhite;
//   border-radius: 25px;
//   font-family: 'Montserrat';
//   font-style: normal;
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.25;
//   letter-spacing: 0.02em;
//   transition: color $baseTransition, background-color $baseTransition;
//   cursor: pointer;
//   padding: 14px 24px;

//   &:hover,
//   &:focus {
//     background-color: $colorWhite;
//     // color: $colorBlack;
//   }
// }
.hero__network {
  display: flex;
  gap: 20px;
  margin-bottom: 14px;
  @media screen and (min-width: 1024px) {
    margin-bottom: 9px;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.hero__network-link {
  fill: $colorBorderAdress;
  cursor: pointer;
}
